{:paths ["src"]
 :deps {}
 :tasks
 {:requires ([y.api :as api]
             [y.core :as ynab])

  budgets (clojure.pprint/print-table (api/get-budgets))

  accounts (clojure.pprint/print-table (api/get-accounts))

  view  (ynab/print-changes (first *command-line-args*))

  apply (ynab/apply-changes (first *command-line-args*))}}
